#testresult {
  display: none;
}
#language1 {
  display: none;
}
#language2 {
  display: none;
}
#language3 {
  display: none;
}
#language4 {
  display: none;
}
body {
  background-color: #3d3e53;
}
h1, h2 , h3 {
  color: white;
  text-align: center;
}
#grey {
   background-color: #828282;
   color: white;

}
#quizbtn {
  position: relative;
  top: 5px;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}
